{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'layouts/header.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/shopcartlogo.png' %}">
    <link rel="stylesheet" href="{% static 'css/search_results.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <style>
     

    </style>

</head>
<body>
    
    {% include 'layouts/navbar.html' %}
    
    {% block content %}{% endblock %}  
    {% block content1 %}{% endblock %}


    {% if request.path != '/' %}
    <button onclick="window.history.back()" class="btn btn-secondary position-fixed" style="top: 10px; left: 20px; z-index: 1000000000; background-color: rgb(255, 255, 255,0.2); ">
        <i class="fa fa-arrow-left"></i>
    </button>
    {% endif %}

    {% include 'layouts/footer.html' %}


    
<script>
    const searchInput = document.getElementById("searchInput");
    const suggestionsBox = document.getElementById("suggestions");

    const socket = new WebSocket("ws://127.0.0.1:8000/ws/search/");

    socket.onopen = () => {
        console.log("WebSocket connection established.");
    };

    socket.onmessage = (event) => {
        const data = JSON.parse(event.data);

        if (data.suggestions) {
            suggestionsBox.innerHTML = "";

            data.suggestions.forEach((item) => {
                const suggestionItem = document.createElement("div");
                suggestionItem.className = "suggestion-item";
                suggestionItem.innerHTML = `
                    <span class="suggestion-name">${item.name}</span>
                `;
                suggestionItem.addEventListener("click", () => {
                    searchInput.value = item.name;
                    suggestionsBox.style.display = "none";
                });
                suggestionsBox.appendChild(suggestionItem);
            });
            suggestionsBox.style.display = "block";
        }
    };
        

    searchInput.addEventListener("input", (event) => {
        const query = event.target.value.trim();
        if (query) {
            socket.send(JSON.stringify({ query: query }));
        } else {
            suggestionsBox.style.display = "none";
        }
    });

 
    document.addEventListener("click", (event) => {
        if (!event.target.closest(".search-container")) {
            suggestionsBox.style.display = "none";
        }
    });

    const searchForm = document.getElementById("searchForm");
    searchForm.addEventListener("submit", (event) => {
        const query = searchInput.value.trim();
        if (!query) {
            event.preventDefault(); 
            alert("Please enter a search query.");
        }
    });
</script>

    
    
   
    

</body>
</html>
