{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'layouts/header.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
           {% endblock %} </title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/shopcartlogo.png' %}">
</head>
<body>
    {% include 'layouts/navbar.html' %}
    
    {% block content %}

    {% endblock %}  

    {% block content1%}

    {% endblock %}


    {% include 'layouts/footer.html' %}
</body>
</html>