{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'layouts/header.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/shopcartlogo.png' %}">
    <link rel="stylesheet" href="{% static 'css/search_results.css' %}">

</head>
<body>
    {% include 'layouts/navbar.html' %}
    
    {% block content %}{% endblock %}  
    {% block content1 %}{% endblock %}


    {% if request.path != '/' %}
    <button onclick="window.history.back()" class="btn btn-secondary position-fixed" style="top: 10px; left: 20px; z-index: 1000000000; background-color: rgb(255, 255, 255,0.2); ">
        <i class="fa fa-arrow-left"></i>
    </button>
    {% endif %}

    {% include 'layouts/footer.html' %}

    <script src="{% static 'js/searchSuggestions.js' %}"></script>
</body>
</html>
