{% for msg in messages %}
    {% if msg.tags == 'success' %}
        <div class="alert alert-info alert-dismissible fade show container" style="padding: 10px; color: white; margin-top: 70px;background-color: rgba(37, 236, 54, 0.774); font-weight: bold; font-size: 20px;">
            {{msg}}
        <h1 style="background-color: rgba(37, 236, 54, 0.774);"></h1>
    {% else %}
        <div class="alert alert-info alert-dismissible fade show container" style="padding: 10px; color: white; margin-top: 70px;background-color: rgba(255, 19, 19, 0.849); font-weight: bold; font-size: 20px;">
            {{msg}}
        <h1 style="background-color: rgba(255, 19, 19, 0.849);"></h1>
    {% endif %}
</div>
<script>
    $(document).ready(function() {
        // alert('hi');
        $('.alert').hide(4000);
    });
</script>

{% endfor %}