
{% extends 'layouts/base.html' %}
{% block title %}
ShopCart | Change Password
{% endblock %}
{% block content %}
<div class="container mb-4 " style="margin-top: 80px; ">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6" >
            <div class="card" style="background: linear-gradient(to right, rgba(148, 0, 211, 0.7), rgba(192, 192, 192, 0.5));"> 
                <div class="card-header text-center">
                    <h4 class="mb-0">Change Password</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group my-2">
                            <label for="current-password">Current Password</label>
                            <input type="password" name="old_password" id="current-password" class="form-control {% if form.old_password.errors %}is-invalid{% endif %}" required>
                            {% if form.old_password.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.old_password.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group my-2">
                            <label for="new-password">New Password</label>
                            <input type="password" name="new_password1" id="new-password" class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}" required>
                            {% if form.new_password1.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.new_password1.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group my-2">
                            <label for="confirm-new-password">Confirm New Password</label>
                            <input type="password" name="new_password2" id="confirm-new-password" class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}" required>
                            {% if form.new_password2.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.new_password2.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}