{% extends 'layouts/base.html'%}
{% block title %}
Favourites | ShopCart
{% endblock %}

{% block content %}
{% include 'layouts/message.html' %}
<section class="bg-light py-4 mt-5">
  <div class="container">
      <div class="row justify-content-center align-items-center">
          <div class="col-12 text-center">
              <h4 class="mb-3">Favorite Items</h4>
              <hr style="border-color:#b8bfc2;">
          </div>
          {% if fav %}
          <div class="table-responsive">
              <table class="table table-bordered text-center align-middle">
                  <thead>
                      <tr>
                          <th>Image</th>
                          <th>Product Name</th>
                          <th>Unit Price</th>
                          <th>Remove</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for item in fav %}
                      <tr>
                          <td>
                              {% if item.product_image %}
                              <img src="{{ item.product_image.image.url }}" height="75px" alt="{{ item.product.name }}">
                              {% else %}
                              <img src="path/to/default/image.jpg" height="75px" alt="{{ item.product.name }}">
                              {% endif %}
                          </td>
                          <td>{{ item.product.name }}</td>
                          <td>{{ item.product.selling_price | stringformat:'d' }}</td>
                          <td><a href="{% url 'remove_fav' item.id %}" class="btn btn-danger btn-sm remove-btn"><i class="fa fa-trash"></i> Remove</a></td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
          {% else %}
          <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4 text-center">
                  <h1><i class="fa-solid fa-face-sad-tear" style="color: red;"></i> Sorry ! ! ! . . .</h1>
                  <h3>No favorite items added</h3>
              </div>
          </div>
          {% endif %}
      </div>
  </div>
</section>
<div class="modal fade" id="confirmRemoveModal" tabindex="-1" aria-labelledby="confirmRemoveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmRemoveModalLabel">Confirm Removal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to remove this item from Favourites?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a id="confirmRemoveBtn" href="#" class="btn btn-danger">Remove</a>
        </div>
      </div>
    </div>
  </div>


  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const removeButtons = document.querySelectorAll('.remove-btn');
      const confirmRemoveBtn = document.getElementById('confirmRemoveBtn');
  
      removeButtons.forEach(button => {
        button.addEventListener('click', function(event) {
          event.preventDefault();
          const url = this.getAttribute('href');
          confirmRemoveBtn.setAttribute('href', url);
          $('#confirmRemoveModal').modal('show');
        });
      });
  
      // Reset the confirmRemoveBtn href when modal is hidden
      $('#confirmRemoveModal').on('hidden.bs.modal', function () {
        confirmRemoveBtn.setAttribute('href', '#');
      });
    });
  </script>
{% endblock %} 
