{% extends 'layouts/base.html'%}
{% block title %}
Login | ShopCart
{% endblock %}
{% block content %}
<div class="login-container">
    <div class="login-form">
        <h4 class="mb-3">User Login</h4>
        <hr style="border-color: rgb(197, 197, 197);">
        {% include 'layouts/message.html' %}
        <form action="{% url 'login' %}?next={{ request.GET.next|default:'/' }}" method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="username" class="form-label">User Name</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="Enter Username">
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password">
            </div>
            <input type="hidden" name="next" value="{{ request.GET.next|default:'/' }}">
            <div class="button-wrapper">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
        </form>
    </div>
</div>

{% endblock %}
