{% extends 'layouts/base.html'%}
{% block title %}
Registration | ShopCart
{% endblock %}
{% block content %}
{% if not user.is_authenticated %}
<section class="py-1 text-center container" style="margin-top:70px;">
    <div class="row py-lg-1">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">BestSeller</h1>
            <p class="lead text-muted">Our most popular products based on sales. updated hourly.</p>
            <p>
                <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-primary my-2">Already User</a>
                <a href="{% url 'Register'%}" class="btn btn-secondary my-2">Register</a>
            </p>
        </div>
    </div>
</section>
<section class=" py-2 my-1" style=" background: linear-gradient(to right, rgba(157, 84, 189, 0.5), rgba(192, 192, 192, 0.5)) !important;">
    <div class="container bg-light" >
        <div class="row">
            <div class="col-12">
                <h4 class="mb-1">Categories</h4>
                <hr style="border-color:#b8bfc2;">
                {% include 'layouts/message.html' %}
            </div>
            {% for item in category %}
            <div class="col-md-4 col-lg-3">
                <a href="{% url 'collection' item.name %}">
                <div class="card my-3">
                    <img src="{{ item.image.url }}" class="card-img-top" style="height: 160px; object-fit: contain;" alt="Categories">
                    <div class="card-body">
                        <h5 class="card-title text-primary" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item.name }}</h5>
                        <hr>
                        <p class="card-text">{{ item.description }}</p> 
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% else %}
<section class=" py-4 my-5" style=" background: linear-gradient(to right, rgba(157, 84, 189, 0.5), rgba(192, 192, 192, 0.5)) !important;">
    <div class="container bg-light">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">Categories</h4>
                <hr style="border-color:#b8bfc2;">
                {% include 'layouts/message.html' %}
            </div>
            {% for item in category %}
            <div class="col-md-4 col-lg-3">
                <a href="{% url 'collection' item.name %}">
                <div class="card my-3">
                    <img src="{{ item.image.url }}" class="card-img-top" style="height: 160px; object-fit: contain;" alt="Categories">
                    <div class="card-body">
                        <h5 class="card-title text-primary" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item.name }}</h5>
                        <hr>
                        <p class="card-text">{{ item.description }}</p> 
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
{% endblock %} 
