{% extends 'layouts/base.html'%}
{% block title %}
ShopCart | Online Shopping 
{% endblock %}

{% block content %}
{% include 'layouts/message.html' %}
{% include 'layouts/slider.html'%}

<div class="container">
    <div class="row">
        <div class="col" style="margin-top: 10px;">
            <section class="bg-light py-4 my-5 fw-1" style=" background: linear-gradient(to right, rgba(157, 84, 189, 0.5), rgba(192, 192, 192, 0.5)) !important;">
                <h4 class="mb-3 ms-4 fs-2" >Trending Products</h4>
                <hr style="border-color: #b8bfc2; margin-left: 25px; margin-right: 25px;">
                <div class="container">
                    <div class="row" id="mobile">
                        <div class="col-12">
                            <h4 class="mb-3 p-2 text-light" style="background-color: black;">Mobiles</h4>
                            <hr style="border-color: #b8bfc2;">
                        </div> 
                        {% for item in mobiles %}
                            <div class="col-6 col-md-4 col-lg-3 d-flex">
                                <a href="{% url 'product_details' item.category.name item.name %}" class="w-100">
                                    <div class="card my-3">
                                        <img src="{{ item.images.first.image.url }}" class="card-img-top img-fluid" style="height: 200px; object-fit: contain;" alt="Image of {{ item.name }}">
                                        <div class="card-body">
                                            <h5 class="card-title text-primary" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item.name }}</h5>
                                            <hr>
                                            <p class="card-text">
                                                <span class="float-start fw-bold text-danger">
                                                    <s>Rs. {{ item.original_price|stringformat:'d' }}</s>
                                                </span>
                                                <span class="float-end fw-bold text-light bg-success p-1 rounded-3">
                                                    Rs. {{ item.selling_price|stringformat:'d' }}
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row" id="home">
                        <div class="col-12">
                            <h4 class="mb-3 p-2 bg-dark text-light" style="background-color: black;">Home Appliances</h4>
                            <hr style="border-color: #b8bfc2;">
                        </div>
                        {% for item in home %}
                            <div class="col-6 col-md-4 col-lg-3 d-flex">
                                <a href="{% url 'product_details' item.category.name item.name %}" class="w-100">
                                    <div class="card my-3">
                                        <img src="{{ item.images.first.image.url }}" class="card-img-top img-fluid" style="height: 200px; object-fit: contain;" alt="Image of {{ item.name }}">
                                        <div class="card-body">
                                            <h5 class="card-title text-primary" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item.name }}</h5>
                                            <hr>
                                            <p class="card-text">
                                                <span class="float-start fw-bold text-danger">
                                                    <s>Rs. {{ item.original_price|stringformat:'d' }}</s>
                                                </span>
                                                <span class="float-end fw-bold text-light bg-success p-1 rounded-3">
                                                    Rs. {{ item.selling_price|stringformat:'d' }}
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row" id="fashion">
                        <div class="col-12">
                            <h4 class="mb-3 p-2 bg-dark text-light" style="background-color: black;">Fashion Products</h4>
                            <hr style="border-color: #b8bfc2;">
                        </div>
                        {% for item in fashion %}
                            <div class="col-6 col-md-4 col-lg-3 d-flex">
                                <a href="{% url 'product_details' item.category.name item.name %}" class="w-100">
                                    <div class="card my-3">
                                        <img src="{{ item.images.first.image.url }}" class="card-img-top img-fluid" style="height: 200px; object-fit: contain;" alt="Image of {{ item.name }}">
                                        <div class="card-body">
                                            <h5 class="card-title text-primary" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item.name }}</h5>
                                            <hr>
                                            <p class="card-text">
                                                <span class="float-start fw-bold text-danger">
                                                    <s>Rs. {{ item.original_price|stringformat:'d' }}</s>
                                                </span>
                                                <span class="float-end fw-bold text-light bg-success p-1 rounded-3">
                                                    Rs. {{ item.selling_price|stringformat:'d' }}
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row" id="grocery">
                        <div class="col-12">
                            <h4 class="mb-3 p-2 bg-dark text-light" style="background-color: black;">Groceries</h4>
                            <hr style="border-color: #b8bfc2;">
                        </div>
                        {% for item in grocery %}
                            <div class="col-6 col-md-4 col-lg-3 d-flex">
                                <a href="{% url 'product_details' item.category.name item.name %}" class="w-100">
                                    <div class="card my-3">
                                        <img src="{{ item.images.first.image.url }}" class="card-img-top img-fluid" style="height: 200px; object-fit: contain;" alt="Image of {{ item.name }}">
                                        <div class="card-body">
                                            <h5 class="card-title text-primary" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item.name }}</h5>
                                            <hr>
                                            <p class="card-text">
                                                <span class="float-start fw-bold text-danger">
                                                    <s>Rs. {{ item.original_price|stringformat:'d' }}</s>
                                                </span>
                                                <span class="float-end fw-bold text-light bg-success p-1 rounded-3">
                                                    Rs. {{ item.selling_price|stringformat:'d' }}
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row" id="electronics">
                        <div class="col-12">
                            <h4 class="mb-3 p-2 bg-dark text-light" style="background-color: black;">Electronics</h4>
                            <hr style="border-color: #b8bfc2;">
                        </div>
                        {% for item in electronics %}
                            <div class="col-6 col-md-4 col-lg-3 d-flex">
                                <a href="{% url 'product_details' item.category.name item.name %}" class="w-100">
                                    <div class="card my-3">
                                        <img src="{{ item.images.first.image.url }}" class="card-img-top img-fluid" style="height: 200px; object-fit: contain;" alt="Image of {{ item.name }}">
                                        <div class="card-body">
                                            <h5 class="card-title text-primary" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item.name }}</h5>
                                            <hr>
                                            <p class="card-text">
                                                <span class="float-start fw-bold text-danger">
                                                    <s>Rs. {{ item.original_price|stringformat:'d' }}</s>
                                                </span>
                                                <span class="float-end fw-bold text-light bg-success p-1 rounded-3">
                                                    Rs. {{ item.selling_price|stringformat:'d' }}
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}
